:root {
    --primary-color: #2c3e50;
    --secondary-color: #bdc3c7;
    --tertiary-color: #ffffff;
    --background-color: #ecf0f1;
}

h3 {
    font-size: clamp(1rem, 2vw, 5rem);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--primary-color);
    border-bottom: 0.5% solid var(--secondary-color);
    margin-bottom: 0.5%;
}

p {
    font-size: clamp(1rem, 1.5vw, 4rem);
    line-height: 1.5;
    color: var(--primary-color);
    margin-bottom: 1.5em;
}

.intro {
    font-size: clamp(1rem, 5vw, 4rem);
    text-transform: uppercase;
    letter-spacing: 0.1;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    margin-bottom: 0.5%;
}

h2 {
    font-size: clamp(2rem, 3vw, 5rem);
}

ul li {
    font-size: clamp(1rem, 1.5vw, 3rem);
    color: var(--primary-color);
    margin: 0.1;
}

body {
    counter-reset: mycounter;
}

.count li:before {
    counter-increment: mycounter;
    content: counter(mycounter, upper-roman);
    display: inline-block;
    min-width: 30px;
    min-height: 20px;
    text-align: center;
    border-radius: 75%;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    position: relative;
    z-index: -1;
}