:root {
    --primary-color: #2c3e50;
    --secondary-color: #bdc3c7;
    --tertiary-color: #ffffff;
    --background-color: #ecf0f1;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: var(--background-color);
}

header {
    width: 100%;
    height: 80px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-family: "open Sans", sans-serif;
    font-size: clamp(1rem, 2vw, 3rem);
    font-weight: bold;
    color: var(--primary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    text-transform: uppercase;
    
}

.hamburger {
    display: none;
}

.nav_bar ul {
    display: flex;
}

.nav_bar.active {
    height: 450px;
}

.nav_bar.active ul {
    opacity: 1;
}

.nav_bar ul li a {
    display: block;
    color: var(--primary-color);
    font-size: clamp(1.2rem, 1.6vw, 2.5rem);
    padding: clamp(1rem, 2vw, 3rem);
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 1%;
}

.nav_bar ul li a:hover {
    color: var(--secondary-color);
    background: #11101b;
}

.nav_bar ul li a.active {
    color: var(--secondary-color);
    background-color: #11101b;
}



@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav_bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--secondary-color);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav_bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav_bar ul li a {
        margin-bottom: 12px;
    }
    .main {
        display: flex;
        overflow: hidden;
        width: 100%;
        
    }

    .main .button{
        position: relative;
        z-index: -1;
    }
    .slideshow-container{
        overflow: hidden;
        z-index: -1;
    }
    

}

.main {
    display: flex;
    font-size: clamp(0.3rem, 3vw ,2rem);
    font-weight: 600;
    color: var(--secondary-color);
}
.main .text{
    margin: 1%;
    font-size: clamp(0.5rem, 3vw, 3rem);
    
    
}
.slideshow {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slideshow-container{
    overflow: hidden;
}
.slide{
    flex: 3;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    padding: clamp(0.1rem, 0.5vw, 1rem);
    background-color: var(--secondary-color);
}

.slide h2{
    color: var(--primary-color);
    font-size: clamp(0.1rem, 5vw ,3rem);
    font-weight: clamp(0.5rem, 5vw, 3rem);

}

.slide p{
    color: var(--primary-color);
    font-size: clamp(0.1rem, 3vw, 2rem);
}

.dots-container{
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
}

.dot{
    min-height: clamp(0.1rem, 1vw, 0.8rem);
    min-width: clamp(0.1rem, 1vw, 0.8rem);
    margin: 0 0.5%;
    border-radius: 50%;
    background-color: #bbb;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.dot:hover{
    background-color: #fff;
    border-color: #444;
    transform: scale(1.2);
}

.dots-container .dot.active{
    background-color: #504d4d;
}

.dot:hover{
    transform: scale(1.5);
}

#side_nav_bar li{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5%;
    margin: 5%;
    font-size: clamp(0.1rem, 5vw, 1.5rem);
}   

#side_nav_bar li a{
    color: var(--primary-color);
}

#side_nav_bar li a:hover{
    background: #11101b;
    color: var(--background-color)
    
}

.button a{
    position: relative;
    display: inline-block;
    padding: clamp(0.5rem, 2vw, 3rem);
    border: 2px solid #11101b;
    margin: 5%;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing:clamp(0.3rem, 0.5vw, 1rem);
    color: #fff;
    transition: 0.5s;
}

.button a:hover{
    color: var(--primary-color);
}  